body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
.register-container {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.register-form {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register-form h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.register-form input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form button:hover {
  background: #218838;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
